<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aputeka</title>
    <style>
    </style>
    <link rel="stylesheet" href="styleService13.css">
</head>
<body>
    <div id="block1">
        <a href="main.html"><button id="i1"><font size="8" color="white" face="Impact">Aputeka</font>
    </button></a>
        <a href="main.html"><button id="i2"><font size="5" color="darkcyan" face="Impact">Главная</font>
    </button></a>
        <a href="services.html"><button id="i3"><font size="5" color="darkcyan" face="Impact">Услуги</font>
    </button></a>
        <a href="comp.html"><button id="i4"><font size="5" color="darkcyan" face="Impact">О Компании</font>
    </button></a>
    </div>
    <div id="block2">
        <a id="i6"
            href="#i1">
            <img src="top.svg" alt="">
            </a>
        <div id="block3">
            <br>
            <div style="display: flex;">
                <div style="margin-right: 30px;">
                  <img src="a3.jpg" width="189" height="255"></img>
                </div>
                <div>
                <p><font size="4">
                      <b>Имя:</b> Михаил<br>
                      <br>
                      <b>Фамилия:</b> Клейнов<br>
                      <br>
                      <b>Врач:</b> Врач-специалист<br>
                    </font></p>
                <a href="you.html">
                    <br><br><br><br>
                  <button id="i2">
                    <font size="5" color="darkcyan" face="Impact">Записаться</font>
                  </button>
                </a> 
                </div>
              </div>
            <br>
            <center>
                <p><h1>Иммуноферментный анализ</h1></p>
            </center>
            <p>Наиболее часто с помощью метода ИФА диагностируются инфекционные заболевания, 
                такие как ВИЧ-инфекция, герпес, гепатит, инфекции, передающиеся половым путем и 
                другие. Кроме того, ИФА помогает определить аллергологический и гормональный статус пациента.</p>

                <p>Мы создали все необходимые условия, чтобы во время проведения анализов вы чувствовали
                     себя комфортно и были уверенны в стерильности и достоверном результате исследования:</p>
                <ul>
                    <li>Высококвалифицированные медицинские сестры со стажем работы не менее десяти лет;</li>
                    <li>Современное оборудование, использование одноразовых вакуумных пробирок-вакутейнеров;</li>
                    <li>Гарантия 100% стерильности при проведении инвазивных процедур (одноразовые расходные 
                        материалы (перчатки, системы для забора крови и пр.), современные методики обработки 
                        – дезинфекции и стерилизации);</li>
                    <li>Максимальный комфорт во время забора биоматериалов и полная конфиденциальность;</li>
                    <li>Заботливое и бережное отношение к каждому пациенту;</li>
                    <li>Быстрота и удобство получения результатов в комбинации с высокой точностью полученных данных.</li>
                </ul>
                <p>Для Вашего удобства - время забора анализов – расширено.</p>
                <p>Иммуноферментный анализ (ИФА, enzyme-linkedimmunosorbentassay) представляет собой метод 
                    определения количества соединений, макромолекул, вирусов и других частиц, которые выявляются 
                    в результате высокоспецифической реакции антиген-антитело. Образовавшиеся комплексы метят 
                    для регистрации сигнала с помощью определенного фермента.</p>
                <p>На сегодняшний день проводится много иммуноферментных исследований из-за огромного разнообразия 
                    объектов и условий проведения ИФА. Таким образом, существует несколько видов иммуноферментных анализов.</p>
                    <br>
                <center>
                <p><h3>Иммуноферментные исследования: современная классификация</h3></p>
                </center>
                <p>По типу химического взаимодействия на первой фазе анализа при связывании определяемого вещества 
                    иммуноферментные исследования можно разделить на следующие:</p>
                <ul>
                    <li>неконкурентный метод ИФА. В системе присутствуют исключительно анализируемое вещество и
                         специфические антитела с соответствующими центрами связывания;</li>
                    <li>конкурентный метод ИФА. Меченое ферментом анализируемое вещество иммобилизуется на твердой фазе, 
                        а в системе присутствует еще и его аналог, конкурирующий за центры специфического связывания.</li>
                </ul>
                <p>К неконкурентным методам иммуноферментных исследований можно отнести «сэндвич»-метод,
                     когда к иммобилизованным антителам добавляется раствор с анализируемым антигеном.
                      Именно на основе этого метода в иммуноферментных лабораторияхпроводится диагностика
                       таких инфекций, как ВИЧ, гепатиты вирусной этиологии, герпевирусная, токсоплазменная 
                       и цитомегаловирусная инфекции.</p>
                    <br>
                <center>
                <p><h3>Конкурентные методы иммуноферментных исследований могут быть:</h3></p>
                </center>
                <ul>
                    <li>прямого формата–меченые и немеченые антигены конкурируют за центры связывания;</li>
                    <li>непрямого формата– образовывается конъюгат антиген-белок-носитель.</li>
                    <li>лабораторные исследования;</li>
                    <li>инструментальное обследование.</li>
                </ul>
                <br>
                <center>
                <p><h3>Ошибки при иммуноферментных исследованиях</h3></p>
                </center>
                <p>Иммуноферментный анализ, как и любые другие исследования, основанные на химических реакциях,
                    могут давать ложноположительные и ложноотрицательные результаты. Но преимуществ у этого
                    метода намного больше, нежели у других подобных способов диагностики инфекционных болезней.
                    Кроме того, следует учитывать, что неточности результатов могут быть связаны с наличием в 
                    организме пациента ревматоидного фактора. Ревматоидный фактор – это тот же иммуноглобулин М против ImG.</p>
                <p>Подобная ситуация иногда наблюдается у новорожденных, которые имеют М-антитела к иммуноглобулинам G матери. 
                    Ложные результаты также могут быть спровоцированы наличием у человека иммунодефицитных состояний или же 
                    техническими ошибками при постановке самой иммунохимической реакции. Именно поэтому следует обращаться 
                    только в проверенные и современно оборудованные медучреждения.</p>
                <br>
                <center>
                <p><h3>Ошибки при иммуноферментных исследованиях</h3></p>
                </center>
                <p>Чтобы получить действительно достоверные результаты анализа, в иммуноферментной лаборатории клиники 
                    Medical Park вы сможете сделать качественный ИФА с использованием нескольких типов тест-систем:</p>
                <ul>
                    <li>лизатные;</li>
                    <li>пептидные;</li>
                    <li>рекомбинантные.</li>
                </ul>
                <p>Медицинский центр Medical Park использует иммуноферментные исследованияблагодаря возможности 
                    определения иммуноглобулинов нескольких классов, что очень важно для ранней диагностики заболеваний. 
                    Использование иммуноферментного анализаоткрывает возможности для прогнозирования и в настоящее
                     время является лучшим методом лабораторной диагностики.</p>
            <br>
            <br>
            <center>
                <p><b><h2>Стоимость:</h2></b></p>
                <p><h3>Хелико бактер пилори – 1 500 тг.</h3></p>
                <p><h3>Уреаплазма – 2 100 тг.</h3></p>
                <p><h3>Хламидии – 1 500 тг.</h3></p>
            </center>
        </div>
        <div id="block0">
        </div>
        <div id="block4">
            <p><h3>График работы:</h3></p>
            <p>Понедельник: (08:00 - 22:00)<br>
            Вторник: (08:00 - 22:00)<br>
            Среда: (08:00 - 22:00)<br>
            Четверг: (08:00 - 22:00)<br>
            Пятница: (08:00 - 22:00)<br>
            Суббота: (10:00 - 17:00)<br>
            Воскресенье: (Выходной)</p>
            <hr>
            <p>Связаться с нами можно по номеру:<br>
            +7 (767) 123-33-32<br>
            или<br>
            +7 (765) 432-11-12</p>
            <hr>&copy; Все права защищены 2023
        </div>
        <div id="block5">
            <p><h3>Наше местоположение:</h3></p>
        <script type="text/javascript" charset="utf-8" 
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A079c56b0b51d571c29c2b37f31fdd824bb090b0e59573e41ba5bf975888e0208&amp;width=350&amp;height=250&amp;lang=ru_RU&amp;scroll=true">
        </script>
        </div>
    </div>
</body>
</html>