<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aputeka</title>
    <style>
    </style>
    <link rel="stylesheet" href="styleService6.css">
</head>
<body>
    <div id="block1">
        <a href="main.html"><button id="i1"><font size="8" color="white" face="Impact">Aputeka</font>
    </button></a>
        <a href="main.html"><button id="i2"><font size="5" color="darkcyan" face="Impact">Главная</font>
    </button></a>
        <a href="services.html"><button id="i3"><font size="5" color="darkcyan" face="Impact">Услуги</font>
    </button></a>
        <a href="comp.html"><button id="i4"><font size="5" color="darkcyan" face="Impact">О Компании</font>
    </button></a>
    </div>
    <div id="block2">
        <a id="i6"
            href="#i1">
            <img src="top.svg" alt="">
            </a>
        <div id="block3">
            <br>
            <div style="display: flex;">
                <div style="margin-right: 30px;">
                  <img src="a5.jpg" width="189" height="255"></img>
                </div>
                <div>
                <p><font size="4">
                      <b>Имя:</b> Наталья<br>
                      <br>
                      <b>Фамилия:</b> Романова<br>
                      <br>
                      <b>Врач:</b> Врач-педиатр<br>
                    </font></p>
                <a href="you.html">
                    <br><br><br><br>
                  <button id="i2">
                    <font size="5" color="darkcyan" face="Impact">Записаться</font>
                  </button>
                </a> 
                </div>
              </div>
            <br>
            <center>
                <p><h1>Врач-педиатр</h1></p>
            </center>
            <p>Педиатрия – это обширная область медицины, непосредственно занимающаяся проблемами детского здоровья:
                 профилактикой болезней и их лечением. Мы приглашаем вас с ребенком в Центр современной педиатрии 
                 на базе многопрофильной частной клиники Aputeka в городе Алматы. Предварительная запись доступна 
                 по телефону или онлайн.</p>
                    <br>
                <center>
                <p><h3>Щит от детских болезней</h3></p>
                </center>
                <ul>В нашем медцентре педиатрия представлена высококвалифицированными специалистами, 
                    в сферу  профессиональных обязанностей которых входит:
                    <li>расширенная диагностика, включая профилактические осмотры и обследования;</li>
                        <li>разработка лечебных тактик по конкретным диагнозам;</li>
                            <li>подбор медикаментозных препаратов;</li>
                                <li>проведение предупредительных мероприятий.</li>
                </ul>
                <p>И все это - с учетом всех нюансов детской физиологии.</p>
                    <br>
                    <br>
                <center>
                <p><h3>Мы гарантируем:</h3></p>
                </center>
                <ul>В процессе диагностики используются:
                    <li>общепризнанные стандарты лечения;</li>
                        <li>индивидуализированный подход к маленьким пациентам;</li>
                            <li>щепетильное сохранение врачебной тайны;</li>
                                <li>демократичные цены на предоставляемые детям услуги;</li>
                                    <li>минимальные риски осложнений  при своевременном лечении.</li>
                </ul>
                <center>
                    <p><h3>Ждем вас в центре педиатрии Aputeka</h3></p>
                    </center>
                    <ul>Вы можете лично прийти в наш Центр детской педиатрии или вызвать доктора на дом:
                        <li>Ти Валентина Даруновна – врач высшей категории с тридцатилетним стажем работы по специальности.</li>
                        <p>Большой стаж и опыт работы позволяют врачам хорошо понимать своих маленьких пациентов и помогать 
                            им в любых ситуациях, в полной мере разделяя тревоги родителей.</p>
                            <p>Платные специалисты всегда примут вас точно в назначенное время. 
                                Со своей стороны, мы приложили все усилия, чтобы вашим деткам было комфортно у нас:</p>
                            <li>пригласили дружелюбных и опытных специалистов;</li>
                                <li>ярко оформили детское отделение;</li>
                                    <li>всегда готовы заинтересовать ожидающих приема маленьких пациентов  
                                        интересным мультфильмом.</li>
                    </ul>
                <p>1. Что лечит педиатр?<br>

                    Педиатр – это врач, который специализируется на диагностике и лечении заболеваний детского возраста.<br>
                    
                    Педиатрия Алматы в клинике Aputeka – одно из приоритетных направлений нашего медицинского центра.<br>
                    
                    Детский педиатр в Алматы осуществляет ведение и лечение маленьких пациентов совместно с узкопрофильными 
                    специалистами, что позволяет максимально информативно обследовать ребенка.<br>
                    
                    Детский врач Алматы обладает всеми необходимыми знаниями в области диагностики и лечения различных 
                    аллергических, воспалительных и инфекционных патологий, таких как:<br>
                    
                    - бронхиальные;<br>
                    
                    - инфекционные;<br>
                    
                    - легочные;<br>
                    
                    - эндокринные и сердечно-сосудистые заболевания;<br>
                    
                    - аллергические реакции;<br>
                    
                    - болезни ЖКТ;<br>
                    
                    - паразитарные заболевания;<br>
                    
                    - рахит.<br>
                    
                    2. Каким должен быть хороший педиатр?<br>
                    
                    Опытный педиатр – надежный помощник, который расскажет все, что относится к гармоничному развитию 
                    маленького организма, посоветует, как уберечься от различных угроз (инфекций) и негативного 
                    влияния внешней среды.<br>
                    
                    Лучший педиатр для малышей – это врач, который знает Вашего ребенка с пеленок, прекрасно осведомлен 
                    о его индивидуальных особенностях, знаком с его историей болезни. Наблюдая малыша с самых первых 
                    месяцев жизни, педиатру проще поставить диагноз, а родителям доверять специалисту свои проблемы.<br>
                    
                    В медицинском центре Aputeka работают одни из самых опытных и заботливых врачей педиатров 
                    города Алматы. Наши специалисты найдут подход к Вашему ребенку, оценят состояние его развития 
                    в каждом возрастном периоде.<br>
                    
                    Лучшие педиатры Алматы – это высококвалифицированные специалисты, в сферу профессиональных 
                    обязанностей которых входит:<br>
                    
                    - расширенная диагностика, включая профилактические осмотры и обследования;<br>
                    
                    - разработка лечебных тактик по конкретным диагнозам;<br>
                    
                    - подбор медикаментозных препаратов;<br>
                    
                    - проведение предупредительных мероприятий.<br>
                    
                    3. С какими симптомами обращаются к педиатру?<br>
                    
                    Для родителей любой недуг у ребенка становится причиной для беспокойства.<br>
                    
                    Не стоит откладывать визит к педиатру, если у ребенка отмечаются следующие симптомы:<br>
                    
                    - Беспокойное поведение.<br>
                    
                    - Плачь.<br>
                    
                    - Повышение температурных показателей.<br>
                    
                    - Появление выделений из носа, кашель.<br>
                    
                    - Расстройства в работе пищеварения.<br>
                    
                    - Кожная сыпь.<br>
                    
                    - Выраженное изменение цвета кожных покровов.<br>
                    
                    - Жалобы ребенка на периодическую боль любой локализации.<br>
                    
                    Частный педиатр Алматы всегда примет Вас точно в назначенное время. Со своей стороны, 
                    мы приложили все усилия, чтобы Вашим деткам было комфортно у нас.<br>
                    
                    Центр детской педиатрии Алматы в клинике Aputeka обслуживает маленьких пациентов 
                    по специальной детской программе для всех возрастных категорий – детский Check-UP.<br>
                    
                    Наши доктора регулярно повышают квалификацию и стажируются по профилю, совершенствуя 
                    свой багаж профессиональных знаний. Если что-то в состоянии или поведении малыша настораживает 
                    Вас, не откладывайте визит к педиатру.<br>
                    
                    Платный педиатр Алматы - проводит комплекс мер по профилактике заболеваний и осуществляет 
                    консультативную поддержку родителей.<br>
                    
                    Консультация педиатра Алматы в клинике Aputeka осуществляется по предварительной записи.<br>
            <br>
            <br>
            <center>
                <p><b><h2>Стоимость:</h2></b></p>
                <p><h3>Прием врача терапевта первичный – 6 000 тг.</h3></p>
                <p><h3>Прием врача терапевта повторный – 3 000 тг.</h3></p>
                <p><h3>Дистанционная (онлайн) консультация врача терапевта – 4 900 тг.</h3></p>
                <p><h3>Дистанционная консультация терапевта по ранее выявленному диагнозу (повторная онлайн консультация) – 4 000 тг.</h3></p>
                <p><h3>Дистанционная расшифровка анализов/обследований (до 3-х видов) – 2 500 тг.</h3></p>
                <p><h3>Дистанционная расшифровка дополнительного вида анализа/обследования (1 вид) – 1 000 тг.</h3></p>
            </center>
        </div>
        <div id="block0">
        </div>
        <div id="block4">
            <p><h3>График работы:</h3></p>
            <p>Понедельник: (08:00 - 22:00)<br>
            Вторник: (08:00 - 22:00)<br>
            Среда: (08:00 - 22:00)<br>
            Четверг: (08:00 - 22:00)<br>
            Пятница: (08:00 - 22:00)<br>
            Суббота: (10:00 - 17:00)<br>
            Воскресенье: (Выходной)</p>
            <hr>
            <p>Связаться с нами можно по номеру:<br>
            +7 (767) 123-33-32<br>
            или<br>
            +7 (765) 432-11-12</p>
            <hr>&copy; Все права защищены 2023
        </div>
        <div id="block5">
            <p><h3>Наше местоположение:</h3></p>
        <script type="text/javascript" charset="utf-8" 
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A079c56b0b51d571c29c2b37f31fdd824bb090b0e59573e41ba5bf975888e0208&amp;width=350&amp;height=250&amp;lang=ru_RU&amp;scroll=true">
        </script>
        </div>
    </div>
</body>
</html>