<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aputeka</title>
    <style>
    </style>
    <link rel="stylesheet" href="styleService2.css">
</head>
<body>
    <div id="block1">
        <a href="main.html"><button id="i1"><font size="8" color="white" face="Impact">Aputeka</font>
    </button></a>
        <a href="main.html"><button id="i2"><font size="5" color="darkcyan" face="Impact">Главная</font>
    </button></a>
        <a href="services.html"><button id="i3"><font size="5" color="darkcyan" face="Impact">Услуги</font>
    </button></a>
        <a href="comp.html"><button id="i4"><font size="5" color="darkcyan" face="Impact">О Компании</font>
    </button></a>
    </div>
    <div id="block2">
        <a id="i6"
            href="#i1">
            <img src="top.svg" alt="">
            </a>
        <div id="block3">
            <br>
            <div style="display: flex;">
                <div style="margin-right: 30px;">
                  <img src="a4.jpg" width="189" height="255"></img>
                </div>
                <div>
                <p><font size="4">
                      <b>Имя:</b> Игорь<br>
                      <br>
                      <b>Фамилия:</b> Саркисян<br>
                      <br>
                      <b>Врач:</b> Лор-Врач<br>
                    </font></p>
                <a href="you.html">
                    <br><br><br><br>
                  <button id="i2">
                    <font size="5" color="darkcyan" face="Impact">Записаться</font>
                  </button>
                </a> 
                </div>
              </div>
            <br>
            <center>
                <p><h1>Лор-врач</h1></p>
            </center>
            <p>В Aputeka ведут прием опытные отоларингологи: Михайлов Михаил Геннадьевич, Юсуров Руслан Арзиевич.</p>

                <p>Обследование и лечение пациентов производится без боли, с помощью современного видеоэндоскопического 
                    ЛОР-оборудования Medonica. Благодаря визуальной эндоскопической системе мы имеем возможность проводить 
                    обследования ЛОР-органов в реальном времени и просматривать увеличенное изображение на мониторе.</p>
                <p>При хронической или острой форме заболевания наши отоларингологи могут существенно облегчить ваше состояние. 
                    Наши доктора мастерски проводят различные лечебные манипуляции при отите, заболеваниях носоглотки и синуситах.</p>
                <p>Наши доктора не только прекрасные диагносты, но и практикующие ЛОР-хирурги, 
                    успешно проводящие целый ряд оперативных вмешательств классическими методами и с 
                    применением лапароскопического оборудования.</p>
                    <ul>Услуги отделения
                        <li>Аденоидные вегетации (Аденоиды)</li>
                            <li>Лечение гайморита</li>
                                <li>Программа лечения хронического тонзиллита</li>
                    </ul>
                    <br>
                    <br>
                <p>Оториноларингология - раздел медицины, который изучает физиологию и патологию уха, 
                    носа и гортани. Своевременная диагностика и лечение заболеваний ЛОР-органов 
                    позволяет избежать перехода болезни в хроническую стадию и осложнений со стороны 
                    сердечно-сосудистой системы, двигательного аппарата и почек.</p>
                <ul>Поводом посетить врача ЛОР в Алматы могут стать:
                    <li>затруднение носового дыхания, выделения из носа (затянувшийся насморк), 
                        ухудшение обоняния, боли в области корня или спинки носа, носовые кровотечения храп;</li>
                        <li>боли в ухе, ухудшение слуха, обильные серные выделения из ушей или образование пробок;</li>
                            <li>боль в горле, покраснение горла, изменение голоса;</li>
                                <li>белесый налет на миндалинах, стекание слизи по задней стенке глотки;</li>
                                    <li>воспаление лимфоузлов (подчелюстных, заушных или шейных).</li>
                </ul>
                <ul>Хороший врач ЛОР в Алматы (а такие специалисты работают в нашей клинике) может выявить 
                    заболевание и по менее явным симптомам, таким как:
                    <li>частые простуды;</li>
                        <li>аллергические реакции;</li>
                            <li>распирающие боли в области лба;</li>
                                <li>дискомфорт в области глаз;</li>
                                    <li>боль в висках и затылочной части головы;</li>
                                        <li>боль в зубах верхней челюсти;</li>
                                            <li>отеки верхних век, верхней губы и мягких тканей щек.</li>
                </ul>
                <center>
                    <p><h3>Эндоскопическое обследование органов ЛОР в Алматы в клинике MedicalPark</h3></p>
                    </center>
                    <p>Это современный и наиболее актуальный способ диагностики лор-заболеваний. 
                        Подобная технология позволяет значительно сократить время на диагностику 
                        и максимально увеличить эффективность лечения.</p>
    
                    <p>Эндоскопический аппарат является не только диагностическим устройством, 
                        но и комплексом приспособлений для лечения и профилактики заболеваний, 
                        что позволяет сократить количество применяемой техники до минимума, 
                        при этом повысив уровень медицинской помощи. Обследование и лечение 
                        при помощи эндоскопа абсолютно безболезненно для пациента. 
                        Все манипуляции бескровны и нетравматичны.</p>
            <br>
            <br>
            <center>
                <p><b><h2>Стоимость:</h2></b></p>
                <p><h3>Прием врача отоларинголога первичный – 6 000 тг.</h3></p>
                <p><h3>Прием врача терапевта повторный – 3 000 тг.</h3></p>
                <p><h3>Инстилляция и аппликация лекарственными веществами – 690 тг.</h3></p>
                <p><h3>Смазывание ротоглотки – 600 тг.</h3></p>
                <p><h3>Удаление серных пробок (с одной стороны) – 1 600 тг.</h3></p>
                <p><h3>Продувание ушей по Политцеру – 1 800 тг.</h3></p>
            </center>
        </div>
        <div id="block0">
        </div>
        <div id="block4">
            <p><h3>График работы:</h3></p>
            <p>Понедельник: (08:00 - 22:00)<br>
            Вторник: (08:00 - 22:00)<br>
            Среда: (08:00 - 22:00)<br>
            Четверг: (08:00 - 22:00)<br>
            Пятница: (08:00 - 22:00)<br>
            Суббота: (10:00 - 17:00)<br>
            Воскресенье: (Выходной)</p>
            <hr>
            <p>Связаться с нами можно по номеру:<br>
            +7 (767) 123-33-32<br>
            или<br>
            +7 (765) 432-11-12</p>
            <hr>&copy; Все права защищены 2023
        </div>
        <div id="block5">
            <p><h3>Наше местоположение:</h3></p>
        <script type="text/javascript" charset="utf-8" 
            async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A079c56b0b51d571c29c2b37f31fdd824bb090b0e59573e41ba5bf975888e0208&amp;width=350&amp;height=250&amp;lang=ru_RU&amp;scroll=true">
        </script>
        </div>
    </div>
</body>
</html>