body {
    background: #c7b39b url(fon2.jpg);
}
#block1 {
    border-radius: 10px;
    margin-top: 1000px;
    width: 1300px;
    height: 100px;
    background: linear-gradient(90deg, skyblue 0%, LightSeaGreen 100%);
    margin: 0 auto;
}
#block2 {
    border-radius: 10px;
    width: 1300px;
    height: 2550px;
    background: linear-gradient(90deg, lightgray 0%, white 100%);
    margin: 0 auto;
}
#block0 {
    width: 1200px;
    height: 10px;
    background: skyblue;
    margin: 0 auto;
}
#i1{
    margin-left: 30px;
    margin-right: 300px;
    height:100;
    width: 250;
    background: rgba(135, 207, 235, 0);
    border: 1px solid rgba(135, 207, 235, 0);
}
#i1:hover{
    background: skyblue;
    transition: 1s;
}

#i2{
    border-radius: 10px;
    margin-right: 30px;
    border: 1px solid darkcyan;
    height: 50;
    width: 200;

}
#i2:hover{
    background: skyblue;
    transition: 1s;
}
#i3{
    border-radius: 10px;
    margin-right: 30px;
    border: 1px solid darkcyan;
    height: 50;
    width: 200;
}
#i3:hover{
    background: skyblue;
    transition: 1s;
}
#i4{
    border-radius: 10px;
    border: 1px solid darkcyan;
    height: 50;
    width: 200;
}
#i4:hover{
    background: skyblue;
    transition: 1s;
}
#i6{  
    position: fixed;
    border-radius: 50%;
    background: skyblue;
    height: 70;
    width: 70;
    margin-left: 130px;
    
    bottom: 10px;
    right: 10px;
    border: 2px solid white;
}
#i6 img{
    padding:10px 10px;
width: 50px;
}
#block31 {
    border-radius: 10px;
    width: 1000;
    height: 500;
    background: linear-gradient(90deg, skyblue 0%, LightSeaGreen 100%);
    margin: 0 auto;
}
#block32 {
    border-radius: 10px;
    width: 1000;
    height: 500;
    background: linear-gradient(90deg, skyblue 0%, LightSeaGreen 100%);
    margin: 0 auto;
}
#block33 {
    border-radius: 10px;
    width: 1000;
    height: 500;
    background: linear-gradient(90deg, skyblue 0%, LightSeaGreen 100%);
    margin: 0 auto;
}
#block34 {
    border-radius: 10px;
    width: 1000;
    height: 500;
    background: linear-gradient(90deg, skyblue 0%, LightSeaGreen 100%);
    margin: 0 auto;
}
#block311 {
    margin-left: 5px;
    border-radius: 10px;
    width: 990;
    height: 420;
    background: white;
}
#block322 {
    margin-left: 5px;
    border-radius: 10px;
    width: 990;
    height: 420;
    background: white;
}
#block333 {
    margin-left: 5px;
    border-radius: 10px;
    width: 990;
    height: 420;
    background: white;
}
#block344 {
    margin-left: 5px;
    border-radius: 10px;
    width: 990;
    height: 420;
    background: white;
}
#block3111 {
    border-radius: 10px;
    width: 790;
    height: 350;
    background: rgba(255, 0, 0, 0);
    margin: 0 auto;
}
#i7{
    border-radius: 10px;
    border: 3px solid skyblue;
    height: 50;
    width: 500;
}
#i7:hover{
    background: skyblue;
    transition: 1s;
}
#i8{
    border-radius: 10px;
    border: 3px solid skyblue;
    height: 50;
    width: 500;
}
#i8:hover{
    background: skyblue;
    transition: 1s;
}
#i9{
    border-radius: 10px;
    border: 3px solid skyblue;
    height: 50;
    width: 500;
}
#i9:hover{
    background: skyblue;
    transition: 1s;
}
#i10{
    border-radius: 10px;
    border: 3px solid skyblue;
    height: 50;
    width: 500;
}
#i10:hover{
    background: skyblue;
    transition: 1s;
}
#i11{
    border-radius: 10px;
    border: 3px solid skyblue;
    height: 50;
    width: 500;
}
#i11:hover{
    background: skyblue;
    transition: 1s;
}
#block4 {
    float: left;
    display: block;
    width: 500px;
    height: 340px;
    background: rgba(0, 38, 255, 0);
    margin-left: 100px;
}
    
#block5 {
    float: left;
    display: block;
    width: 500px;
    height: 340px;
    background: rgba(0, 255, 98, 0);
    margin-left: 100px;
}